.benefits{
	&-content{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
	}
	.center-wrapper{margin-top: 60px;}
}
.benefit-item{
	column-gap:20px;
	.benefit-text{
		&>*+*{margin-top: 8px;}
		padding-top: 8px;
	}
}