header.header{
	height: 700px;
	display: flex;
	flex-direction: column;
	padding-bottom: 33px;
	&>*{width: 100%;}
	.header-nav{
		padding-top: 54px;
	}
	.header-nav__content{
		display: flex;
		align-items: center;
		column-gap:22px
	}
	.contacts-wrapper{
		white-space: nowrap;
		a{
			color: $white;
			transition: .3s;
			&:hover{
				color: $ac1;
			}
			
		}
	}
	.header-group{
		column-gap:30px;

	}
	.header-content{
		display: flex;
		
		&__wrapper{
			display: flex;
			flex-direction: column;
			color: $white;
			height: 100%;
			padding-left: 180px;
			&>*{width: 100%;}
		}
		flex-grow: 1;
		
		.header__bottom-text{margin-top: auto;}
	}
	.header-social{
		bottom: 0;
		left: 0;
	}
}
.header-lang{
	display: flex;
	align-items: center;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	column-gap:30px;
	
	a{color: $base;}
}
.button-icon{
	cursor:pointer;
	line-height: 1;
	&:hover svg{
		stroke: $ac1!important;
	}
}
.contacts-wrapper{
	white-space: nowrap;
	a{
		font-weight: 600;
		font-size: 18px;
		line-height: 22px;
	}
}
.logo.logo-white{
	.svg-logo{
		fill:$white;
	}
}
.logo{
	transition: .5s;
}
.logo:hover .svg-logo{
	fill:$ac1;
}