.join{
	background-color: rgba(9, 29, 43, 1);
	padding-top: 75px;
	padding-bottom: 105px;
	.join-content{
		
		.mark-list-card{
			align-self: flex-start;
		}
	}
}
.price-block__text label + .body-14{padding-left: 42px;}
.mark-list-card__footer .fake-radio + .price-block{
	margin-top: 26px;
}
.join-content__text	{
	padding-top: 42px;
	&>*+*{margin-top: 12px;}
	color: #ffffff;
}