.particip{
	padding-top: 75px;
	padding-bottom: 60px;
	.divide-img-left{
		
		img{
			height: 456px;
			width: auto;
		}
	}
	.divide-img-right img{
		width: 685px;
		height: 455px;
		
	}
	.num-list{
		max-width: 400px;;
	}
	.num-list +.num-list{margin-top: 40px;}
}
.num-list{
	&__top{
		width: fit-content;
		position: relative;
		
		&:after{
			content: '';
			width: 30px;
			height: 1px;
			background-color: #000000;
			position: absolute;
			top: 50%;
			right: -3px;
			transform: translate(100%, -50%);

		}
	}
	&__text{
		padding-top: 12px;
		font-size: 19px;
		color: $dark;
		padding-bottom: 7px;
	}
}