.race-programm{
	padding-top: 110px;
	.divide-img-left{
		img{
			height: 693px;
			filter: grayscale(1);
		}
	}
	.divide-bg{
		margin-top: 0;
	}
	.title-block{
		margin-bottom: 32px;
		.txt-dark{
			margin-top: 33px;
			font-weight: 400;
		}
	}
	.tab-item__title{column-gap:60px;}
}
.race-programm{
	.tab-item{
		padding-top: 43px;
	}
}