section.benefits
	.container
		.benefits-content
			+benefitItem('map', 'Место проведения', 'Москва', 37, 37)
			+benefitItem('calendar', 'Дата', '20 мая', 37, 37)
			+benefitItem('boat', 'Флот', '15 лодок', 37, 37)
			+benefitItem('roadmap', 'Формат', 'Sail, business & networking', 37, 37)
		.center-wrapper
			a.btn(href="#!") Узнать больше
