footer.footer
	.footer-top
		.container
			//=====left-column ====
			.footer-content
				.footer-logo.pos-abs
					a(href="#!").logo.logo-white
						+svgIcon('logo')
				//=====контакты=====
				.footer-contacts
					.title-15 Контакты
					.footer-contacts__top
						p 141052, Россия, Московская область, г. Мытищи, д. Румянцево ул. Пестовская
						p GPS-координаты: N 56.096555 E 37.629250
						a.link-text(href="#!") Открыть в Яндекс картах
					
					.footer-contacts__center
						.contacts-wrapper
							a(href="tel:84951213777") +7(495) 121-3-777
						a(href="").link-text info@tenzor-sailing-club.com
					
					.footer-contacts__bottom
						+social-footer
				
				//====footer-menu======
				.footer-menu-column
					ul

						li
							a(href="#!") Услуги
							.submenu-list
								a(href="#!") Корпоративные регаты и тимбилдинг
								a(href="#!") Частные мероприятия
								a(href="#!") Аренда яхт
								a(href="#!") Страхование участников
						li
							a(href="#!") SUCCESS RACE
						li
							a(href="#!") TENZOR INTERNATIONAL CUP
				
				//====footer-menu======
				.footer-menu-column
					ul
						li
							a(href="#!") Академия TSA
							.submenu-list
								a(href="#!") Детская парусная академия
								a(href="#!") Тренировки для взрослых
								a(href="#!") Расписание и стоимость занятий
								a(href="#!") Записаться на занятие
						li
							a(href="#!") Магазин
						li
							a(href="#!") Сми о нас
						li
							a(href="#!") Ближайшие события



