footer.footer
	.footer-top
		.container
			.footer-content
				.footer-logo.pos-abs
					a(href="#!").logo.logo-white
						+svgIcon('logo')
				//=====контакты=====
				.footer-contacts
					.title-15
					.footer-contacts__top
						p 141052, Россия, Московская область, г. Мытищи, д. Румянцево ул. Пестовская
						p GPS-координаты: N 56.096555 E 37.629250
						a.link-text(href="#!") Открыть в Яндекс картах
					
					.footer-contacts__center
						.contacts-wrapper
							a(href="tel:84951213777") +7(495) 121-3-777
						a(href="").link-text info@tenzor-sailing-club.com
					
					.footer-contacts__bottom
						+social-footer
				
				.footer-menu


