
section.for-sponsors
	.container
		.title-block(data-aos="fade-up" data-aos-duration="800")
			.title-15 Success race
			.h2 Для спонсоров
		.for-sponsors__text.txt-19.txt-dark
			p Рыбатекст используется дизайнерами, проектировщиками и фронтендерами, когда нужно быстро заполнить макеты или прототипы содержимым. Это тестовый контент, который не должен нести никакого смысла, лишь показать наличие самого текста или продемонстрировать типографику в деле.
	.partners
		.container
			.title-15.pb-40 наши партнеры
	.partners-logo
		.partners-logo__item
			img(src="./img/spons1.png", width="232" height="75" alt="logo")
		.partners-logo__item
			img(src="./img/spons2.png", width="232" height="75" alt="logo")
		.partners-logo__item
			img(src="./img/spons3.png", width="232" height="75" alt="logo")
		.partners-logo__item
			img(src="./img/spons4.png", width="232" height="75" alt="logo")
		.partners-logo__item
			img(src="./img/spons5.png", width="232" height="75" alt="logo")
		.partners-logo__item
			img(src="./img/spons6.png", width="232" height="75" alt="logo")
		.partners-logo__item
			img(src="./img/spons7.png", width="232" height="75" alt="logo")

	.our-possib
		.container
			.title-15.pb-40 Наши возможности
			
			.our-possib-content.grid-columns
				.our-possib__col
					//==== single list ====
					.mark-list-card
						+markList('Брендинг',
							'Размещение логотипа партнера на бортах яхт',
							'Размещение логотипа партнера на парусах (стаксель и грот) на яхтах участников',
							'Размещение логотипа партнера на стояночных флагах',
							'Размещение логотипа партнера на стартовых манишках участников',
							'Размещение логотипа партнера на форме организаторов соревнования',
							'Размещение логотипа партнера на манишках для прессы (фотографы, видеооператоры, журналисты)',
							'Размещение логотипа партнера на пресс-воллах соревнования',
							'Размещение логотипа партнера на флагах соревнования (формат "интерьерные флаги")*',
							'Размещение логотипа партнера на баннерах (включая навигационные)',
							'Размещение логотипа на экране в промо ролике мероприятия')
						
					//==== single list ====
					.mark-list-card
						+markList('Береговая программа',
							'Участие представителей партнера в качестве спикера*',
							'Участие представителя партнера в награждении победителей соревнования'
						)


					//==== single list ====
					.mark-list-card
						+markList('ДОПОЛНИТЕЛЬНЬIЕ ОПЦИИ',
							'Организация бизнес-встречи с руководством и партнерами клуба (формат и список участников обсуждается дополнительно)'

						)

					.our-possib__text.txt-center
						.txt-15.txt-italic.txt-accent *Согласовывается дополнительно	
				
					.our-possib__btn
						.btn.w-100 Узнать как стать партнером/спонсором
				.our-possib__col
					.mark-list-card
						+markList('УПОМИНАНИЕ ПАРТНЕРА НА ОФИЦИАЛЬНЬIХ РЕСУРСАХ И В СМИ',						'Размещение логотипа партнера на официальном сайте соревнования в блоке "Партнеры" (со ссылкой на сайт партнера)',
						'Устное упоминание о партнере во время прямой трансляции мероприятий соревнования (торжественный старт, этапы соревнования, награждение)',
						'Участие представителя партнера в награждении победителей соревнования',
						'Размещение информации о партнере в пресс-релизах соревнования',
						'Предоставление партнеру фотографий с соревнования',
						'Предоставление партнеру видеоматериалов с соревнования',
						'Передача авторских прав партнеру на использование фотографий и видеоматериалов с мероприятия для размещения в публикациях',
						'Размещение ролика партнера на Crocus TV',
						'Информационная поддержка в Коммерсант',
						'Участие в регате',
						'Организация бизнес-встречи с руководством и партнерами мероприятия (формат и список участников обсуждается дополнительно)'
						)
					.mark-list-card
						+markList('ПРАВО ПРОВЕДЕНИЯ МАРКЕТИНГОВЬIХ И PR АКТИВНОСТЕЙ ОТ ПАРТНЕРА ВО ВРЕМЯ МЕРОПРИЯТИЯ',
						'Право проведения презентаций (маркетинговых/РR мероприятий) во время соревнования',
						'Право распространения брендированной продукции от партнера во время соревнования',
						'Право предоставлять участникам подарки и призы на церемонии награждения',
						'Право застройки брендированной зоны от партнера',
						'Участие в регате партнеров'
						)