section.particip.divide-section
	
	.divide-img-right
	.container
		.divide-img-left
			img(src="./img/race-left.jpg", height="456" alt="alt")
		.divide-img-right
			img(src="./img/race1.jpg", height="455" width="685" alt="alt")
		
		.title-box
			.title-15 Success race
			.h2 Участники
		.divide-bg
			.num-list
				.num-list__top.title-15 01
				.num-list__text Владельцы бизнеса и ТОП-менеджеры крупных компаний

			.num-list
				.num-list__top.title-15 02
				.num-list__text Послы иностранных государств, чиновники
			.num-list
				.num-list__top.title-15 03
				.num-list__text Представители культурной элиты, лидеры&nbsp;общественного мнения