
//========================= ФИЛОСОФИЯ  ======================================
section.philosophy
	.container
		.philosophy-content
			.philosophy-text
				.title-block
					.title-15 Success race
					.h2 Философия
				
				.philosophy-text__content.txt-20
					.philosophy-text__top
						p
							span.txt-bold.txt-upper Бизнес регата
							span &nbsp;&ndash; это 
							span.txt-upper.txt-26 гораздо больше,
						p.txt-italic чем нетворкинг.
					
					.philosophy-text__bottom
						p 
							span Место, где вы найдете 
							span.txt-upper.txt-26 надежных партнеров
						p.txt-italic близких по духу
					
				.philosophy-text__content.txt-19
					p Серия регат для настоящих бизнесменов, заинтересованных в успехе и  развитии.
					p Парусный спорт учит фокусироваться на главном, адаптироваться к изменениям и быть уверенным в своих решениях.
					p Море не терпит суеты. Чтобы не происходило на борту, важно отключать эмоции и искать решения.
						
			.picture-mosaic
				.picture-mosaic__cell
					img(src="./img/race-ph1.jpg", width="181" alt="alt" data-aos="zoom-in" data-aos-duration="800")
				.picture-mosaic__cell
					img(src="./img/race-ph2.jpg", width="276" alt="alt" data-aos="zoom-in" data-aos-duration="800")
				.picture-mosaic__cell
					img(src="./img/race-ph3.jpg", width="276" alt="alt" data-aos="zoom-in" data-aos-duration="800")
				.picture-mosaic__cell
					img(src="./img/race-ph4.jpg", width="181" alt="alt" data-aos="zoom-in" data-aos-duration="800")
