mixin prItem(time, text)
	.programm-list__item
		.txt-17 #{time}
		.txt-19.txt-medium #{text}
mixin swpSlide(title, text)
	.swiper-slide
		.info-card
			.info-card__img
				img(src="./img/speaker.jpg", width="279" height="279" alt="img")
			.info-card__title
				.title-18 Имя Фамилия
				.txt-15 #{title}
			if text
				.info-card__text.txt-17.txt-medium #{text}
//======== ПРОГРАММА =====================
section.race-programm.divide-section
	.container
		.divide-img-left
			img(src="./img/race-prog1.jpg", height="693" alt="alt")
		.divide-img-right
			img(src="./img/race-prog2.jpg",  width="400" height="455" alt="alt")
		
		//============= title ============
		.title-block
			.title-15 Success race
			.h2 Программа
			.txt-19.txt-dark Серия регат Success Race
		
		//============= content ============
		.programm-table
			.tabs-wrapper
				.tabs.flex-box
					.tab.title-15 01 этап
					.tab.title-15 02 этап
					.tab.title-15 03 этап
					.tab.title-15 финал
				
				.tabs-content
					//=====контент вкладки ЭТАП 1=========
					.tab-item
						.programm-title.flex-v-center
							.txt-separate.title-20.flex-v-center
								span 20 мая
								span Москва
							.link-accent.txt-17 Следить за новостями
						
						.programm-list.flex-column
							+prItem('10:00 - 11:00', 'Встреча гостей + welcome')
							+prItem('11:00 - 12:00', 'Деловой завтрак с участием модераторов')
							+prItem('12:00 - 12:30', 'Брифинг и распределение лодок для участников регаты')
							+prItem('12:30 - 15:30', 'Регата для категории билетов Sail&Business')
							+prItem('12:30 - 15:30', 'Лекция / mastermind группы для категории Just Business')
							+prItem('15:30 - 16:00', 'Обед')
							+prItem('16:00 - 17:30', 'Public Talk с министром спорта')
							+prItem('17:30 - 19:00', 'Вечерняя программа, награждение участников регаты')
							.programm-list__btn
								.btn.btn--outline Узнать больше
							
					//=====контент вкладки ЭТАП 2 =========
					.tab-item
						.programm-title.flex-v-center
							.txt-separate.title-20.flex-v-center
								span 21 мая
								span Москва
							.link-accent.txt-17 Следить за новостями
						
						.programm-list.flex-column
							+prItem('10:00 - 11:00', 'Завтрак')
							
							+prItem('12:30 - 15:30', 'Регата для категории билетов Sail&Business')
							+prItem('12:30 - 15:30', 'Лекция / mastermind группы для категории Just Business')
							+prItem('15:30 - 16:00', 'Обед')
							+prItem('16:00 - 17:30', 'Public Talk с министром спорта')
							+prItem('17:30 - 19:00', 'Вечерняя программа, награждение участников регаты')
							.programm-list__btn
								.btn.btn--outline Узнать больше
					
					//=====контент вкладки ЭТАП 3=========
					.tab-item
						.programm-title.flex-v-center
							.txt-separate.title-20.flex-v-center
								span 22 мая
								span Москва
							.link-accent.txt-17 Следить за новостями
						
						.programm-list.flex-column
							
							+prItem('11:00 - 12:00', 'Завтрак')
							+prItem('12:00 - 12:30', 'Брифинг ')
							+prItem('12:30 - 15:30', 'Регата для категории билетов Sail&Business')
							+prItem('12:30 - 15:30', 'Лекция / mastermind группы для категории Just Business')
							+prItem('15:30 - 16:00', 'Обед')
							+prItem('16:00 - 17:30', 'Public Talk с министром спорта')
							+prItem('17:30 - 19:00', 'Вечерняя программа, награждение участников регаты')
							.programm-list__btn
								.btn.btn--outline Узнать больше

					//=====контент вкладки ФИНАЛ =========
					.tab-item
						.programm-title.flex-v-center
							.txt-separate.title-20.flex-v-center
								span 22 мая
								span Москва
							.link-accent.txt-17 Следить за новостями
						
						.programm-list.flex-column
							
							+prItem('11:00 - 12:00', 'Деловой завтрак с участием модераторов')
							+prItem('12:00 - 12:30', 'Экскурсия куда-нибудь')
							+prItem('12:30 - 15:30', 'Концерт звезд эстрады')
							
							+prItem('15:30 - 16:00', 'Обед')
							+prItem('17:30 - 19:00', 'Вечерняя программа, награждение участников регаты')
							.programm-list__btn
								.btn.btn--outline Узнать больше
	
	//========== СПИКЕРЫ =============
	.speakers
		.container
			.title-block.flex-v-center
				.h2 Спикеры
				
				//===== навигация для speakers-slider =======
				.speakers-slider-nav.flex-v-center
					.speakers-prev.swiper-prev
						+svgIcon('chevron-right')
					.speakers-next.swiper-next
						+svgIcon('chevron-right')
			
			//===== speakers-slider =======
			.speakers-slider.swiper
				.swiper-wrapper
					+swpSlide('должность спикера лорем ипсум лорем', 'Тема доклада в три строки, можно скрыть, если не нужно ее выводить')
					+swpSlide('должность спикера ', 'Тема доклада в три строки')
					+swpSlide('должность спикера лорем ипсум лорем')
					+swpSlide('должность спикера лорем ипсум лорем', 'Тема доклада в три строки, можно скрыть, если не нужно ее выводить')
					+swpSlide('должность спикера лорем ', 'Тема доклада в три строки, можно скрыть, если не нужно ее выводить')
					+swpSlide('должность спикера лорем ипсум лорем', 'Тема доклада в три строки, можно скрыть, если не нужно ее выводить')
					+swpSlide('должность спикера лорем ипсум лорем')
			
			//===== кнопки под слайдером =========
			.speakers-buttons.flex-center
				a(href="#!").btn Стать участником
				a(href="#!").btn Стать спонсором

				


