//======== ПРОГРАММА =====================
section.race-programm.divide-section
	.container
		.divide-img-left
			img(src="./img/race-prog1.jpg", height="693" alt="alt")
		.divide-img-right
			img(src="./img/race-prog2.jpg",  width="400" height="455" alt="alt")
		
		//============= title ============
		.title-block
			.title-15 Success race
			.h2 Программа
			.txt-19.txt-dark Серия регат Success Race
		
		//============= content ============
		.divide-bg.programm-table
			.tabs-wrapper
				.tabs.flex-box
					.tab.title-15 1 этап
					.tab.title-15 2 этап
					.tab.title-15 3 этап
					.tab.title-15 финал
				
				.tabs-content
					.tab-item
						.tab-item__title.flex-v-center
							.txt-separate.title-20.flex-v-center
								span 20 мая
								span Москва
							.link-accent.txt-17 Следить за новостями
					
					.tab-item 222
					.tab-item 333
			