
.brdcrumbs{
	display: flex;
	align-items:center;
	column-gap:32px;
	margin-bottom: 5px;
	a{
		font-size: 15px;
		font-weight: 600;
		text-transform: uppercase;
		position: relative;
		letter-spacing: 0.15em;
		color: $white;
		transition: .3s;
		&:hover{
			color:$ac1;
		}
	}
	a + a:before{
		content: '/';
		position: absolute;
		left: -18px;
		top: 0;
		color: $white;
	}
	a:last-child{
		cursor: default;
		pointer-events: none;
		&:hover{
			color: $white;
		}
	}
}