input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #ffffff ;
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}
.form-item{
  position: relative;
  
  input{
    display: block;
    width: 100%;
    border: 1px solid $inpbr;
    border-radius: 5px;
    height: 60px;
    font-size: 16px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
.form-item .input-icon__img{
  position: absolute;
    top: 50%;
    transform:translateY(-50%);
    z-index: 2;
    width: 24px;
    height: 24px;
    display: flex;
    &>*{margin: auto;}
}
.form-item.input-icon{
  input{padding-right: 40px;}
  .input-icon__img{
    right: 18px;
  }
}
.form-item.input-icon-left{
   input{padding-right: 18px; padding-left:40px}
  
  .input-icon__img{
    left:18px;
  }
}
.toggle-pass{
  cursor:pointer;
  & + .link-accent{
   
    margin-top: 8px;
    margin-left: auto;
    width: fit-content;
    letter-spacing: 0.04em;
   
  }
 
}
.search-panel-form{
  border-bottom:1px solid black;
  display: flex;
  align-items: center;
}
.form-item.form-item--search{
  input{
    border: none;
    
    padding-left: 46px;
    border-radius: 0;
    font-size: 30px;
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    &::placeholder{
      color: $gray;
      letter-spacing: 0.05em;
    }

  }
  .input-icon__img{
    left: 5px;
  }
}
.search-panel-form{
  position: absolute;
  .text-btn{
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.05em;
    transition: .5s;
    &:hover{
      color: $ac1;
    }
    
    }
}