input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #ffffff ;
  -webkit-text-fill-color: #000000;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}
.form-item{
  position: relative;
  
  input{
    display: block;
    width: 100%;
    border: 1px solid $inpbr;
    border-radius: 5px;
    height: 60px;
    font-size: 16px;
    padding-left: 18px;
    padding-right: 18px;
  }
}
.form-item .input-icon__img{
  position: absolute;
    top: 50%;
    transform:translateY(-50%);
    z-index: 2;
    width: 24px;
    height: 24px;
    display: flex;
    &>*{margin: auto;}
}
.form-item.input-icon{
  input{padding-right: 40px;}
  .input-icon__img{
    right: 18px;
  }
}
.form-item.input-icon-left{
   input{padding-right: 18px; padding-left:40px}
  
  .input-icon__img{
    left:18px;
  }
}
.toggle-pass{
  cursor:pointer;
  & + .link-accent{
   
    margin-top: 8px;
    margin-left: auto;
    width: fit-content;
    letter-spacing: 0.04em;
   
  }
 
}
.form-item .txt-accent{
  font-size: 15px;
    letter-spacing: 0.04em;
}

.form-item.form-item--search{
  input{
    border: none;
    
    padding-left: 46px;
    border-radius: 0;
    font-size: 30px;
    
    letter-spacing: 0.05em;
    text-transform: uppercase;
    &::placeholder{
      color: $gray;
      letter-spacing: 0.05em;
    }

  }
  .input-icon__img{
    left: 5px;
  }
}
/*==============search-panel=================*/
.search-panel{
  position: fixed;
  padding-top: 44px;
  top: -100px;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 3;
  
  height: 0;
  overflow: hidden;
  transition: .3s;
  .search-panel-form{
    position: absolute;
    max-width: 1200px;;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

        border-bottom:1px solid black;
    display: flex;
    align-items: center;
    .form-item{flex-grow: 1;}
  }
}
.search-panel.visible{
    height: 497px;
    top:0;
}
.search-panel-form{
  
  .text-btn{
    padding: 10px;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    letter-spacing: 0.05em;
    transition: .5s;
    &:hover{
      color: $ac1;
    }
    
    }
}
/**********.fake-radio**********/
.fake-radio{
  display: flex;
  position: relative;
  column-gap:18px;
  input{
    width: 0.01em;
    height: 0.01em;
    position: absolute;
    top: 0;
    right: 0;
  }
  &-group{
    flex-shrink:0;
    span{
      display: block;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: #ececec;
      border:1px solid #D9D9D9;;
      position: relative;
      
      &:before{
        content: '';
        width: 0; 
        height: 0;
        border-radius: 50%;
       background-color: $ac1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .3s;
      }
    }
  }
  input:checked + span{
    border:1px solid $ac1;
     background-color: #fff;
     &:before{
        width: 8px; 
        height: 8px;
     }
  }
}
.fake-radio.fake-radio--medium{
  
  input{
    width: 0.01em;
    height: 0.01em;
    position: absolute;
    top: 0;
    right: 0;
  }
  .fake-radio-group{
  
    span{
      width: 20px;
      height: 20px;
    }
  }
   input:checked + span{
  
     &:before{
        width: 10px; 
        height: 10px;
     }
  }
}
.fake-radio.fake-radio--big{
  align-items: flex-end;
  column-gap:12px;
  .title-20{letter-spacing: 0.12em;}
  .txt-14{color: $gray;text-transform: uppercase; margin-bottom: 7px;}
    .fake-radio-group{
   
    span{
      border:1px solid transparent;
      width: 30px;
      height: 30px;
     
     
    }
  }
  input:checked + span{
    border:1px solid $ac1;
     background-color: #fff;
     &:before{
        width: 14px; 
        height: 14px;
     }
  }
}