.svg-fb, .svg-vk, .svg-wa, .svg-yout, .svg-inst{
	fill: #ffffff;
	cursor:pointer;
	width: 22px;
	height: 22px;
}
.svg-fb{
	width: 10px;
	height: 21px;
}
.svg-yout{
	height: 17px;
}
.svg-vk{width: 23px; height: 14px;}
.svg-chevron-down{
	stroke: #ffffff;
	width: 10px;
	height: 6px;
	fill: transparent;
}
.svg-chevron-right{
	stroke: $ac1;
	width: 50px;
	height: 50px;
}
.svg-logo{
	width: 43px;
	height: 44px;
	fill:#000000 ;
}
.svg-search, .svg-user, .svg-map-pin{
	width: 28px;
	height: 28px;
	stroke: #ffffff;
	fill: transparent;
	transition: .3s;
}
.svg-user{
	width: 24px;
	height: 24px;
}
.svg-map-pin{
	width: 25px;
	height: 25px;
}
.social-contacts{
	display: flex;
	align-items: center;
	a{
		display: flex;
		align-items:center;
		&:hover{
			svg{fill: rgba(255,255,255, 1)!important;}
		}
		svg{transition:.3s; fill: rgba(255,255,255, .5)!important;}
	}
	a+a{margin-left: 20px;}
}
.social-contacts__column{
	.social-contacts{
		flex-direction: column;
		a>svg{fill: rgba(255,255,255, 1)!important;}
		a:hover{
			svg{fill: rgba(255,255,255, .5)!important;}
		}
		a+a{margin-left: 0; margin-top: 24px;}
	}
}
.round-icon{
	border-radius: 50%;
	width: 70px;
	height: 70px;
	flex-shrink: 0;
	border: 1px solid $ac1;
	img{
		object-fit: cover;
	}
}