.svg-fb, .svg-vk, .svg-wa, .svg-yout, .svg-inst{
	fill: #ffffff;
	cursor:pointer;
	width: 22px;
	height: 22px;
}
.svg-fb{
	width: 10px;
	height: 21px;
}
.svg-yout{
	height: 17px;
}
.svg-vk{width: 23px; height: 14px;}
.svg-chevron-down{
	stroke: #ffffff;
	width: 10px;
	height: 6px;
	fill: transparent;
}
.svg-chevron-right{
	stroke: $ac1;
	width: 50px;
	height: 50px;
}
.svg-logo{
	width: 43px;
	height: 44px;
	fill:#000000 ;
}
.svg-search, .svg-user, .svg-map-pin{
	width: 28px;
	height: 28px;
	stroke: #000000;
	fill: transparent;
	transition: .3s;
}
.header-nav__content{
	.svg-search, .svg-user, .svg-map-pin{stroke: #ffffff;}
} 
.svg-user{
	width: 24px;
	height: 24px;
}
.svg-map-pin{
	width: 25px;
	height: 25px;
}
.svg-eye{
	width: 22px;
	height: 17px;
	stroke: #888888;
	fill: transparent;
	&.svg-eye-active{
		stroke: $ac1;
	}
}

.icon-warning{
	width: 22px;
	height: 24px;
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='22' height='24' viewBox='0 0 22 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='11' cy='13' r='10.5' stroke='%23FF3A3A'/%3e%3cpath d='M10.552 6.8H11.48L11.32 14.784H10.712L10.552 6.8ZM11.016 18.064C10.8347 18.064 10.68 18 10.552 17.872C10.424 17.744 10.36 17.5893 10.36 17.408C10.36 17.2267 10.424 17.072 10.552 16.944C10.68 16.816 10.8347 16.752 11.016 16.752C11.208 16.752 11.368 16.816 11.496 16.944C11.624 17.072 11.688 17.2267 11.688 17.408C11.688 17.5893 11.624 17.744 11.496 17.872C11.368 18 11.208 18.064 11.016 18.064Z' fill='%23FF3A3A'/%3e%3c/svg%3e");
}
.social-contacts{
	display: flex;
	align-items: center;
	a{
		display: flex;
		align-items:center;
		&:hover{
			svg{fill: rgba(255,255,255, 1)!important;}
		}
		svg{transition:.3s; fill: rgba(255,255,255, .5)!important;}
	}
	a+a{margin-left: 20px;}
}
.header{
	.social-contacts{
		flex-direction: column;
		a>svg{fill: rgba(255,255,255, 1)!important;}
		a:hover{
			svg{fill: rgba(255,255,255, .5)!important;}
		}
		a+a{margin-left: 0; margin-top: 24px;}
	}
}
.round-icon{
	border-radius: 50%;
	width: 70px;
	height: 70px;
	flex-shrink: 0;
	border: 1px solid $ac1;
	img{
		object-fit: cover;
	}
}
.close-btn{
	position: relative;
	width: 40px;
	height: 40px;
	cursor:pointer;
	&:after, &:before{
		content: '';
		height: 1px;
		position: absolute;
		background-color: rgba(160, 160, 160, 1);
		
		top:50%;
		width:28px;
		left:50%;
		transform: translate(-50%, -50%) rotate(-45deg);
		transition: .3s;
		
	}
	&:after{
		transform: translate(-50%, -50%) rotate(45deg);
		
	}
	&:hover{
		 &:before{transform: translate(-50%, -50%) rotate(45deg);background-color: $ac2;}
		 &:after{transform: translate(-50%, -50%) rotate(-45deg);background-color: $ac2;}
	}
}