.h1{
	color: $white;
	text-transform: uppercase;
}
.h1, .h2,[class^="title-"]{
	font-size: 90px;
	font-weight: 600;
	
}
.h2{
	font-size: 47px;
	text-transform: uppercase;
}

.title-15, .title-18,.title-20{
	letter-spacing: 0.15em;
	font-size: 15px;
	font-weight: 600;text-transform: uppercase;
}

.title-18{
	font-size: 18px;
}
.title-20{
	font-size: 20px;
}
.txt-15{
	font-size: 15px;
}
.txt-16{
	font-size: 16px;
}
.txt-17{
	font-size: 17px;
}
.txt-19{
	font-size: 19px;
}
.txt-20{
	font-size: 20px;
}
.txt-26{
	font-size: 26px;
}
.txt-italic{
	font-style: italic;
}
.txt-bold{font-weight: 700;}
.txt-medium{font-weight: 500;}
.txt-accent{
	color: $ac1;
}
.title-block{
	.title-15{padding-left: 5px;}
}
.link-accent{
    display: block;
    cursor:pointer;
    width: fit-content;
    padding-bottom: 1px;
	color: $ac1;
    border-bottom:1px solid $ac1;
    &:hover{
      opacity: .5;
    }
}
.txt-dark{
	color: $dark;
}
.txt-gray{
	color: $gray!important;
}
.txt-upper{
	text-transform: uppercase;
}
.mt-186{margin-top: 186px;}
.txt-separate{
	&>*{padding-right: 40px;}
	&>*:last-child{padding-right: 0;}
	&>*+*{
		padding-left: 40px;
		position: relative;
		&:before{
			content: '|';
			position: absolute;
			left: -1px;
			top:1px;
			font-size: 18px;
			color: $base;
		}
	}
}