.h1{
	color: $white;
	text-transform: uppercase;
}
.h1, .h2,[class^="title-"]{
	font-size: 90px;
	font-weight: 600;
	
}
.h2{
	font-size: 47px;
}
.title-box{

}

.title-15, .title-18{
	letter-spacing: 0.15em;
	font-size: 15px;
	font-weight: 600;
}
.title-15{text-transform: uppercase;}
.title-18{
	font-size: 18px;
}
.txt-16{
	font-size: 16px;
}
.txt-accent{
	color: $ac1;
}
.link-accent{
    display: block;
    margin-top: 8px;
    margin-left: auto;
    width: fit-content;
    letter-spacing: 0.04em;
    font-size: 15px;
    padding-bottom: 1px;
	color: $ac1;
    border-bottom:1px solid $ac1;
    &:hover{
      opacity: .5;
    }
}
.txt-dark{
	color: $dark;
}
.txt-gray{
	color: $gray!important;
}
.txt-upper{
	text-transform: uppercase;
}
.mt-186{margin-top: 186px;}