.flex-box, .flex-center, .flex-col, .flex-v-center{
	display: flex;
}
.flex-center{
	justify-content: center;
	align-items: center;
}
.flex-v-center{
	align-items: center;
}
.pos-rel{position: relative;
}
.pos-abs{position: absolute;}