.flex-box, .flex-center, .flex-column, .flex-v-center, .flex-justify,.center-wrapper{
	display: flex;
}
.center-wrapper{
	justify-content: center;
}
.flex-justify{
	align-items: center;
	justify-content: space-between;
}
.flex-center{
	justify-content: center;
	align-items: center;
}
.flex-v-center{
	align-items: center;
}
.flex-column{
	flex-direction: column;
}
.pos-rel{position: relative;
}
.pos-abs{position: absolute;}

.grid-columns{
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 30px;
}
.w-100{width: 100%;}
.txt-center{text-align: center;}