//- ===== colors ======
$ac1:rgba(188, 134, 61, 1);
$ac2: rgba(212, 150, 67, 1);
$red: rgba(255, 58, 58, 1);
$base:#000000;

$dark: rgba(72, 72, 72, 1);
$gray: rgba(192, 192, 192, 1);
$greyBg: #F8F8F8;
$footerBg: rgba(9, 29, 43, 1);
$white: #ffffff;



$reg: 'Montserrat';
$bs:'Bad Script';
$mw: 'Merriweather-Light';
