.info-card{
	&__img{
		height: 279px;
		width: 279px;
		margin-bottom: 33px;
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__title{
		margin-bottom: 20px;
		.title-18{color: $base;}
		.txt-15{color: $dark; min-height: 47px;}
	}
	.info-card__text{
		height: 78px;
		  display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 3;
		overflow: hidden;
	}
}
.mark-list-card{
	background-color: $greyBg;
	max-width: 588px;
	padding-top: 55px;
	padding-bottom: 60px;
	&>.title-20{
		margin-bottom: 25px;
		padding-left: 60px;
		padding-right: 33px;
	}
	ul{
		padding-left: 60px;
		padding-right: 33px;
	}
	.mark-list-card__footer	{
		padding-top: 30px;
		padding-left: 60px;
		padding-right: 0;
	}
	.price-block{
		
		.btn{
			border-radius: 7px 0 0 7px;
		}
	}
}