mixin headerMenu(obj)
	.header-menu#header-menu
		ul
			each item in obj
				li(class=(item.addClass ? " "+ item.addClass : ""))
					if item.icon == 'true'
						a(href=""+ item.link) #{item.text}
						+svgIcon('chevron-down')
					else
						a(href=""+ item.link) #{item.text}
					
					
mixin fullMenu(arg)
	//============ большое меню на белом фоне ============
	.full-menu#full-menu
		.container
			.full-menu__content
				ul
					li
						a(href="#!") О клубе
					li
						a(href="#!") Услуги
						.submenu-list
							a(href="#!") Корпоративные регаты и тимбилдинг
							a(href="#!") Частные мероприятия
							a(href="#!") Аренда яхт
							a(href="#!") Страхование участников

					li
						a(href="#!") Академия TSA
						.submenu-list
							a(href="#!") Детская парусная академия
							a(href="#!") Тренировки для взрослых
							a(href="#!") Расписание и стоимость занятий
							a(href="#!") Записаться на занятие
					li
						a(href="#!") SUCCESS RACE
					li
						a(href="#!") TENZOR INTERNATIONAL CUP
					li
						a(href="#!") События клуба
					li
						a(href="#!") Магазин
					li
						a(href="#!") Сми о нас
					li
						a(href="#!") Контакты				
mixin header(arg)
	header.header(style="background-image:url(./img/"+ arg.bgImg +".jpg)")&attributes(attributes)
		//======= навигация в шапке =============
		.header-nav
			.container-xl
				.header-nav__content
					a(href="#!").logo.logo-white
						+svgIcon('logo')
					
					+headerMenu(arg.menuItems)
					
					.contacts-wrapper
						a(href="tel:84951213777") +7(495) 121-3-777
					.header-group.flex-v-center
						.button-icon
							+svgIcon('map-pin')
						.button-icon
							+svgIcon('user')
						.button-icon(frame-btn="search-panel")
							+svgIcon('search')
					.header-lang
						a(href="#!").txt-gray Rus
						a(href="#!") Eng
			//=========большое меню на белом фоне =========
			+fullMenu
		.header-content.mt-186
			.container-xl.pos-rel
				.header-social.pos-abs
					+social
				.header-content__wrapper
					.brdcrumbs
						a(href="#!") Главная
						a(href="#!") Бизнес регата
					.header__title
						h1.h1 Success race
					.header__bottom-text
						.title-15 Tenzor Sailing Club & RRCC