mixin social
	.social-contacts
		a(href="#!")
			svg.svg-fb
				use(href="../img/svg-sprite.svg#svg-fb")
		a(href="#!")
			svg.svg-vk
				use(href="../img/svg-sprite.svg#svg-vk")
		a(href="#!")
			svg.svg-wa
				use(href="../img/svg-sprite.svg#svg-wa")
		a(href="#!")
			svg.svg-inst
				use(href="../img/svg-sprite.svg#svg-inst")
		a(href="#!")
			svg.svg-yout
				use(href="../img/svg-sprite.svg#svg-yout")

mixin socialColumn
	.social-contacts__column
		+social