extends ../layouts/layout.pug

block content
	include ../blocks/_search-panel
	+header({
		bgImg: 'race-bg',
		menuItems: [
			{text:'О клубе', link: '#!'},
			{text:'Услуги', link: '#!', icon:'true'},
			{text:'Академия TSA', link: '#!'},
			{text:'Success race', link: '#!', addClass:'txt-upper active'},
			{text:'Tenzor international cup', link: '#!', addClass:'txt-upper'},
			{text:'Еще...', link: '#!'},
		]
	})(class="overlay-block")
	main.main
		include ../sections/_benefits
		include ../sections/_particip
		include ../sections/_philosophy
		include ../sections/_race-programm
		include ../sections/_join
		include ../sections/_for-sponsors
block variables
	-var title = "Success race";
