@import "base/_var";
@import "base/_base";
@import "base/_typography.scss";
@import "base/_icons.scss";
@import "base/_buttons.scss";
@import "base/_ui-class.scss";
@import "base/_form.scss";
@import "base/_components.scss";
@import "base/_divide-bg.scss";
@import "base/_tabs.scss";

//blocks
@import "blocks/_header-menu.scss";
@import "blocks/_full-menu.scss";
@import "blocks/_cards.scss";

@import "sections/_header.scss";
@import "sections/_benefits.scss";
@import "sections/_particip.scss";
@import "sections/_philosophy";
@import "sections/_race-programm";
@import "sections/_speakers";
@import "sections/_join";
@import "sections/_for-sponsors";

  //ui
 @import "ui/_ui-navigation";