include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		script(src="../libs/jquery/jquery-3.0.0.min.js")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Форма

				.container-dashboard__content
					ul
						
						li
							.form-item
								input(type="text" placeholder="Логин")
							pre.
								.form-item
									input(type="text" placeholder="Логин")
						li
							.form-item
								input(type="text" placeholder="Логин")
								.error вы не ввели логин
							pre.
								.form-item
									input(type="text" placeholder="Логин")
						li
							.form-item.input-icon
								span.input-icon__img
									.icon-warning
								input(type="text" placeholder="Поиск")
							pre.
								.form-item.input-icon
									span.input-icon__img
										.icon-warning
									input(type="text" placeholder="Поиск")
						li
							//============пароль отображается/скрывается через скрипт в main.js, который менят тип инпута.=========
							.form-block
								.form-item.input-icon.toggle-pass
									span.input-icon__img
										+svgIcon('eye')
									input(type="password" placeholder="Пароль")
								button.link-accent Забыли пароль?
							pre.
								.form-block
									.form-item.input-icon.toggle-pass
										span.input-icon__img
											+svgIcon('eye')
										input(type="password" placeholder="Пароль")
									button.txt-accent Забыли пароль?
						
						li
							.form-item.input-icon-left
								span.input-icon__img
									+svgIcon('search')
								input(type="text" placeholder="Поиск")
							pre.
								.form-item.input-icon-left
									span.input-icon__img
										+svgIcon('search')
									input(type="text" placeholder="Поиск")

						li
							.tabs-wrapper
								.tabs.flex-box
									.tab.title-15 1 этап
									.tab.title-15 2 этап
									.tab.title-15 3 этап
									.tab.title-15 финал
								
								.tabs-content
									.tab-item 111
									.tab-item 222
									.tab-item 333
						
						

		script.
			document.querySelectorAll(".toggle-pass").forEach(el=>{
				const tglBtn = el.querySelector(".input-icon__img");
				const inputField = el.querySelector("input");

				tglBtn.addEventListener("click", (e)=>{
					const icon = tglBtn.querySelector("svg");

					if(inputField.type === "password")
						inputField.type = "text"
					else inputField.type = "password";

					icon.classList.toggle("svg-eye-active");
					
				});
			});

		script.
			/* tabs*/
			$('.tabs-wrapper').each(function() {
				let ths = $(this);
				ths.find('.tab-item').not(':first').hide();
				ths.find('.tab').click(function() {
					ths.find('.tab').removeClass('active').eq($(this).index()).addClass('active');
					ths.find('.tab-item').hide().eq($(this).index()).fadeIn()
				}).eq(0).addClass('active');
			});