include ../../layouts/_mixins-links.pug
block variables

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")

		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")
		link(rel="stylesheet", href="../css/main.css")
		title UI-KIT

	body.body-dashboard

		include ../../ui/ui-navigation.pug

		block content
			.container-dashboard
				h2 Иконки

				.container-dashboard__content
					ul
						li(style="background-color: #000000; color: #ffffff;")
							
							.social-contacts
								a(href="#!")
									svg.svg-fb
										use(href="../img/svg-sprite.svg#svg-fb")
								a(href="#!")
									svg.svg-vk
										use(href="../img/svg-sprite.svg#svg-vk")
								a(href="#!")
									svg.svg-wa
										use(href="../img/svg-sprite.svg#svg-wa")
								a(href="#!")
									svg.svg-inst
										use(href="../img/svg-sprite.svg#svg-inst")
								a(href="#!")
									svg.svg-yout
										use(href="../img/svg-sprite.svg#svg-yout")
							pre.
								+social

							.social-contacts__column
								+social
							pre.
								.social-contacts__column
									+social